@import url(../vendor/normalize.css);
.page {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: #fbeec1;
  overflow: hidden;
}
.page__content {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.search {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.search__git-icon {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 150px;
  margin: 0;
  padding: 0;
}
.search__form {
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.search__input {
  width: 90%;
  margin: 0 5px;
  max-width: 260px;
  height: 32px;
  border-radius: 3%;
  color: #483d8b;
  font-family: sans-serif;
  font-weight: normal;
  line-height: normal;
  border: 0.1 solid #483d8b;
}
.search__input:active,
.search :hover,
.search :focus {
  outline: 0;
  outline-offset: 0;
}
.search__btn {
  background-image: url(../images/search_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  background-color: rgba(17, 255, 238, 0);
  border: none;
}
.search__btn:hover {
  cursor: pointer;
  opacity: 0.7;
  width: 35px;
  height: 35px;
}

.information {
  max-width: 310px;
  margin: 10px auto 20px;
  padding: 0;
  display: none;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.information__loading {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  color: #483d8b;
  box-shadow: #483d8b;
}
.information__spinner {
  background-image: url(../images/spinner.svg);
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.result {
  max-width: 310px;
  margin: 10px auto 20px;
  padding: 0;
  display: none;
  align-items: center;
}
.result__count {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  color: #483d8b;
  box-shadow: #483d8b;
}

.result-pages {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  height: 60vh;
  padding: 0;
  overflow: auto;
  text-overflow: ellipsis;
}
.result-pages__container {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  justify-content: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin: 5px 5px;
  padding: 0;
  height: 40px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.result-pages__container:hover {
  opacity: 0.7;
}
.result-pages__img {
  background-image: url(../images/page_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
}
.result-pages__request {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  width: 300px;
  align-self: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: #483d8b;
  box-shadow: #483d8b;
  white-space: nowrap;
}
.result-pages::-webkit-scrollbar {
  width: 0;
}/*# sourceMappingURL=index.css.map */
